.team-current-theme8 {
  position: relative;
}
.team-current-theme8 .inner-box {
  position: relative;
  border: 2px solid #e3e3e3;
  border-radius: 10px;
  overflow: hidden;
}
.team-current-theme8 .inner-box:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.team-current-theme8 .inner-box:hover .social-links {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}
.team-current-theme8 .image-box {
  position: relative;
}
.team-current-theme8 .image-box .image {
  position: relative;
  margin-bottom: 0;
  z-index: 1;
}
.team-current-theme8 .image-box .image img {
  width: 100%;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme8 .image-box .image img {
    transition: none;
  }
}
.team-current-theme8 .info-box {
  position: relative;
  text-align: center;
  padding: 20px 30px 30px;
  background-color: #fff;
  z-index: 2;
}
.team-current-theme8 .info-box .team-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 5px;
}
.team-current-theme8 .info-box .team-title a:hover {
  color: var(--theme-color1);
}
.team-current-theme8 .info-box .team-subtitle {
  position: relative;
  display: block;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme8 .info-box .team-subtitle {
    transition: none;
  }
}
.team-current-theme8 .share-icon {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: var(--theme-color1);
  transition: all 400ms ease;
  border-radius: 50px;
  z-index: 3;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme8 .share-icon {
    transition: none;
  }
}
.team-current-theme8 .social-links {
  position: absolute;
  left: 30px;
  top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--theme-color1);
  transform-origin: top;
  transform: scaleY(0);
  border-radius: 50px;
  z-index: 3;
  padding: 17px 10px 17px;
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme8 .social-links {
    transition: none;
  }
}
.team-current-theme8 .social-links li {
  list-style: none;
  margin-bottom: 0;
}
.team-current-theme8 .social-links li a {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  color: #fff;
  margin-bottom: 25px;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme8 .social-links li a {
    transition: none;
  }
}
.team-current-theme8 .social-links li a:last-child {
  margin-bottom: 0px;
}