.team-current-theme1:hover .img-holder .team-hover {
  visibility: visible;
  opacity: 1;
}
.team-current-theme1:hover .img-holder .team-hover ul.social-link li:nth-child(1), .team-current-theme1:hover .img-holder .team-hover ul.social-link li:nth-child(3) {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.team-current-theme1 .img-holder {
  position: relative;
}
.team-current-theme1 .img-holder img {
  width: 100%;
  border-radius: 135px;
}
.team-current-theme1 .img-holder .team-hover {
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.team-current-theme1 .img-holder .team-hover ul,
.team-current-theme1 .img-holder .team-hover ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.team-current-theme1 .img-holder .team-hover ul.social-link li {
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}
.team-current-theme1 .img-holder .team-hover ul.social-link li:nth-child(1), .team-current-theme1 .img-holder .team-hover ul.social-link li:nth-child(3) {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.team-current-theme1 .img-holder .team-hover ul.social-link li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--theme-color1);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(89, 86, 233, 0.2);
  box-shadow: 0px 10px 30px 0px rgba(89, 86, 233, 0.2);
}
.team-current-theme1 .img-holder .team-hover ul.social-link li a:hover {
  background-color: var(--theme-color1);
  color: #fff;
}
.team-current-theme1 .text {
  padding-top: 30px;
  text-align: center;
}
.team-current-theme1 .text .team-title {
  margin-top: 0;
  margin-bottom: 5px;
}
.team-current-theme1 .text .team-title:hover {
  color: var(--theme-color1);
}

.team-current-theme2 {
  position: relative;
}
.team-current-theme2 .inner-box {
  position: relative;
}
.team-current-theme2 .inner-box:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.team-current-theme2 .inner-box:hover .social-link {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}
.team-current-theme2 .image-box {
  position: relative;
}
.team-current-theme2 .image-box .image {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  z-index: 1;
}
.team-current-theme2 .image-box .image img {
  width: 100%;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme2 .image-box .image img {
    transition: none;
  }
}
.team-current-theme2 .info-box {
  position: relative;
  padding: 30px 30px;
  max-width: 350px;
  margin-top: -70px;
  background: #fafafb;
  border: 5px solid #ffffff;
  text-align: center;
  z-index: 2;
}
@media (max-width: 575.98px) {
  .team-current-theme2 .info-box {
    max-width: 100%;
  }
}
.team-current-theme2 .info-box .team-title {
  margin-top: 0;
  margin-bottom: 5px;
}
.team-current-theme2 .info-box .team-title:hover {
  color: var(--theme-color1);
}
.team-current-theme2 .info-box .team-subtitle {
  position: relative;
  display: block;
  margin-top: 0;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme2 .info-box .team-subtitle {
    transition: none;
  }
}
.team-current-theme2 .share-icon {
  position: absolute;
  top: 30px;
  right: 25px;
  height: 54px;
  width: 54px;
  line-height: 54px;
  text-align: center;
  font-size: 20px;
  color: var(--theme-color1);
  background-color: #fff;
  transition: all 300ms ease;
  border-radius: 5px;
  z-index: 3;
}
.team-current-theme2 .social-link {
  position: absolute;
  right: 25px;
  top: 85px;
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  transform-origin: top;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme2 .social-link {
    transition: none;
  }
}
.team-current-theme2 .social-link li {
  list-style: none;
  margin-bottom: 0;
}
.team-current-theme2 .social-link li a {
  position: relative;
  height: 54px;
  width: 54px;
  display: inline-block;
  line-height: 54px;
  text-align: center;
  font-size: 16px;
  color: var(--theme-color1);
  background-color: #fff;
  border-radius: 5px;
  margin-top: 15px;
}
.team-current-theme2 .social-link li a:hover {
  color: #fff;
  background-color: var(--theme-color1);
}

.team-current-theme3 {
  position: relative;
}
.team-current-theme3 .inner-box {
  position: relative;
}
.team-current-theme3 .inner-box:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.team-current-theme3 .inner-box:hover .social-link {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}
.team-current-theme3 .image-box {
  position: relative;
  padding-bottom: 67px;
}
.team-current-theme3 .image-box .image {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  z-index: 1;
}
.team-current-theme3 .image-box .image img {
  width: 100%;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme3 .image-box .image img {
    transition: none;
  }
}
.team-current-theme3 .info-box {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 67px 30px 16px;
  max-width: 370px;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}
.team-current-theme3 .info-box::before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fafafb;
  border-top: 5px solid var(--theme-color1);
  -webkit-transform: skewY(-10deg);
  -moz-transform: skewY(-10deg);
  -ms-transform: skewY(-10deg);
  transform: skewY(-10deg);
  transform-origin: right top;
  content: "";
}
@media (max-width: 575.98px) {
  .team-current-theme3 .info-box {
    padding-top: 50px;
  }
}
.team-current-theme3 .info-box .team-title {
  margin-bottom: 5px;
  z-index: 1;
  position: relative;
  margin-top: 0;
}
.team-current-theme3 .info-box .team-title:hover {
  color: var(--theme-color1);
}
.team-current-theme3 .info-box .team-subtitle {
  position: relative;
  display: block;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme3 .info-box .team-subtitle {
    transition: none;
  }
}
.team-current-theme3 .info-box .team-short-bio {
  position: relative;
  z-index: 1;
}
.team-current-theme3 .share-icon {
  position: absolute;
  bottom: 104px;
  left: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: var(--theme-color1);
  border: 1px solid var(--theme-color1);
  background-color: #fff;
  transition: all 300ms ease;
  border-radius: 2px;
  z-index: 3;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme3 .share-icon {
    transition: none;
  }
}
.team-current-theme3 .social-link {
  position: absolute;
  left: 20px;
  bottom: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scaleY(0);
  transform-origin: bottom;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme3 .social-link {
    transition: none;
  }
}
.team-current-theme3 .social-link li {
  list-style: none;
  margin-bottom: 0;
}
.team-current-theme3 .social-link li a {
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  color: var(--theme-color1);
  background-color: #fff;
  border-radius: 5px;
  margin-top: 5px;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme3 .social-link li a {
    transition: none;
  }
}
.team-current-theme3 .social-link li a:hover {
  color: #fff;
  background-color: var(--theme-color1);
}

.team-current-theme4 {
  position: relative;
}
.team-current-theme4 .inner-box {
  position: relative;
  text-align: center;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme4 .inner-box {
    transition: none;
  }
}
.team-current-theme4 .inner-box:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.team-current-theme4 .inner-box:hover .social-link {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}
.team-current-theme4 .image {
  position: relative;
  display: block;
  max-width: 300px;
  height: 400px;
  border-radius: 150px;
  overflow: hidden;
  margin: 0 auto 24px;
  width: 100%;
  z-index: 1;
}
.team-current-theme4 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme4 .image img {
    transition: none;
  }
}
.team-current-theme4 .team-title {
  margin-bottom: 0px;
}
.team-current-theme4 .team-title:hover {
  color: var(--theme-color1);
}
.team-current-theme4 .team-subtitle {
  position: relative;
  display: block;
  transition: all 400ms ease;
  margin-bottom: 15px;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme4 .team-subtitle {
    transition: none;
  }
}
.team-current-theme4 .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme4 .social-link {
    transition: none;
  }
}
.team-current-theme4 .social-link li {
  list-style: none;
  margin-bottom: 0;
}
.team-current-theme4 .social-link li a {
  position: relative;
  height: 50px;
  width: 60px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  color: #808285;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 0 1px;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme4 .social-link li a {
    transition: none;
  }
}
.team-current-theme4 .social-link li a:hover {
  color: #fff;
  background-color: var(--theme-color1);
}

.team-current-theme5 {
  position: relative;
}
.team-current-theme5 .inner-box {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.team-current-theme5 .inner-box:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.team-current-theme5 .inner-box:hover .social-link a {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.team-current-theme5 .image-box {
  position: relative;
}
.team-current-theme5 .image-box .image {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  z-index: 1;
}
.team-current-theme5 .image-box .image:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  top: auto;
  bottom: 0;
  z-index: 3;
  background: linear-gradient(-3.65deg, #1e266e 5.86%, rgba(30, 38, 110, 0) 82.23%);
  border-radius: 5px;
  content: "";
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme5 .image-box .image:before {
    transition: none;
  }
}
.team-current-theme5 .image-box .image img {
  width: 100%;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme5 .image-box .image img {
    transition: none;
  }
}
.team-current-theme5 .info-box {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 30px 30px;
  z-index: 2;
  text-align: center;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme5 .info-box {
    transition: none;
  }
}
.team-current-theme5 .info-box .team-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
}
.team-current-theme5 .info-box .team-subtitle {
  position: relative;
  display: block;
  color: #fff;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme5 .info-box .team-subtitle {
    transition: none;
  }
}
.team-current-theme5 .social-link {
  position: absolute;
  left: 30px;
  top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}
.team-current-theme5 .social-link li {
  list-style: none;
  margin-bottom: 0;
}
.team-current-theme5 .social-link li a {
  position: relative;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  color: var(--headings-color);
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme5 .social-link li a {
    transition: none;
  }
}
.team-current-theme5 .social-link li a:hover {
  color: #fff;
  background-color: var(--theme-color1);
}

.team-margin .owl-stage-outer .owl-item:nth-child(even) .team-current-theme5 {
  margin-top: 40px;
}
@media (max-width: 575.98px) {
  .team-margin .owl-stage-outer .owl-item:nth-child(even) .team-current-theme5 {
    margin-top: 0;
  }
}

.team-current-theme6 {
  position: relative;
}
.team-current-theme6 .inner-box {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.team-current-theme6 .inner-box:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.team-current-theme6 .inner-box:hover .social-link {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
.team-current-theme6 .image-box {
  position: relative;
}
.team-current-theme6 .image-box .image {
  position: relative;
  border-radius: 150px 150px 0 0;
  overflow: hidden;
  margin-bottom: 0;
  z-index: 1;
}
.team-current-theme6 .image-box .image img {
  width: 100%;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme6 .image-box .image img {
    transition: none;
  }
}
.team-current-theme6 .info-box {
  position: absolute;
  right: 22px;
  left: 22px;
  bottom: 0;
  padding: 35px 30px 28px;
  border-radius: 10px;
  box-shadow: 0px 16px 52px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  text-align: center;
  z-index: 2;
}
.team-current-theme6 .info-box .team-title {
  margin-top: 0;
  margin-bottom: 5px;
}
.team-current-theme6 .info-box .team-title:hover {
  color: var(--theme-color1);
}
.team-current-theme6 .info-box .team-subtitle {
  position: relative;
  display: block;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme6 .info-box .team-subtitle {
    transition: none;
  }
}
.team-current-theme6 .social-link {
  position: absolute;
  right: 0;
  width: 100%;
  top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scaleY(0);
  transform-origin: bottom;
  z-index: 3;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme6 .social-link {
    transition: none;
  }
}
.team-current-theme6 .social-link li {
  list-style: none;
  margin-bottom: 0;
}
.team-current-theme6 .social-link li a {
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  background-color: var(--theme-color1);
  border-radius: 5px 5px 0px 0px;
  margin: 0 5px;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme6 .social-link li a {
    transition: none;
  }
}
.team-current-theme6 .social-link li a:hover {
  color: var(--theme-color1);
  background-color: #fff;
}

.team-current-theme7 {
  position: relative;
}
.team-current-theme7 .inner-box {
  position: relative;
}
.team-current-theme7 .inner-box:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.team-current-theme7 .inner-box:hover .social-link {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}
.team-current-theme7 .image-box {
  position: relative;
}
.team-current-theme7 .image-box .image {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  z-index: 1;
}
.team-current-theme7 .image-box .image img {
  width: 100%;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme7 .image-box .image img {
    transition: none;
  }
}
.team-current-theme7 .info-box {
  position: relative;
  padding: 28px 30px 28px;
  background-color: #fafafb;
  text-align: center;
  z-index: 2;
}
.team-current-theme7 .info-box .team-title {
  margin-top: 0;
  margin-bottom: 0;
}
.team-current-theme7 .info-box .team-title:hover {
  color: var(--theme-color1);
}
.team-current-theme7 .info-box .team-subtitle {
  position: relative;
  display: block;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme7 .info-box .team-subtitle {
    transition: none;
  }
}
.team-current-theme7 .share-icon {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  color: var(--theme-color1);
  background-color: #fff;
  border-radius: 50px;
  z-index: 3;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme7 .share-icon {
    transition: none;
  }
}
.team-current-theme7 .social-link {
  position: absolute;
  left: 30px;
  top: 75px;
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  transform-origin: top;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme7 .social-link {
    transition: none;
  }
}
.team-current-theme7 .social-link li {
  list-style: none;
  margin-bottom: 0;
}
.team-current-theme7 .social-link li a {
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  color: var(--theme-color1);
  background-color: #fff;
  border-radius: 50px;
  margin-bottom: 5px;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme7 .social-link li a {
    transition: none;
  }
}
.team-current-theme7 .social-link li a:hover {
  color: #fff;
  background-color: var(--theme-color1);
}

.team-current-theme8 {
  position: relative;
}
.team-current-theme8 .inner-box {
  position: relative;
  text-align: center;
  background-color: #fff;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme8 .inner-box {
    transition: none;
  }
}
.team-current-theme8 .inner-box:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.team-current-theme8 .inner-box:hover .social-link {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}
.team-current-theme8 .image {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;
}
.team-current-theme8 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme8 .image img {
    transition: none;
  }
}
.team-current-theme8 .info-box {
  position: relative;
  padding: 30px 30px 40px;
}
.team-current-theme8 .team-title {
  margin-top: 0;
  margin-bottom: 5px;
}
.team-current-theme8 .team-title:hover {
  color: var(--theme-color1);
}
.team-current-theme8 .team-subtitle {
  position: relative;
  display: block;
  transition: all 400ms ease;
  margin-bottom: 11px;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme8 .team-subtitle {
    transition: none;
  }
}
.team-current-theme8 .text {
  margin-bottom: 17px;
}
.team-current-theme8 .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme8 .social-link {
    transition: none;
  }
}
.team-current-theme8 .social-link li {
  list-style: none;
  margin-bottom: 0;
}
.team-current-theme8 .social-link li a {
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 18px;
  display: inline-block;
  background: #fafafb;
  color: var(--theme-color1);
  text-align: center;
  border-radius: 5px;
  margin: 0 5px;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme8 .social-link li a {
    transition: none;
  }
}
.team-current-theme8 .social-link li a:hover {
  color: #fff;
  background-color: var(--theme-color1);
}

.team-current-theme9 {
  position: relative;
}
.team-current-theme9 .inner-box {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 40px 30px 39px;
}
.team-current-theme9 .inner-box:hover .image-box .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.team-current-theme9 .inner-box .image-box {
  margin-bottom: 30px;
}
.team-current-theme9 .inner-box .image-box .image {
  height: 260px;
  max-width: 260px;
  width: 100%;
  border-radius: 150px;
  overflow: hidden;
  margin: 0 auto;
}
.team-current-theme9 .inner-box .image-box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme9 .inner-box .image-box .image img {
    transition: none;
  }
}
.team-current-theme9 .inner-box .team-title {
  margin-top: 0;
  margin-bottom: 5px;
}
.team-current-theme9 .inner-box .team-title a:hover {
  color: var(--theme-color1);
}
.team-current-theme9 .inner-box .team-subtitle {
  margin-bottom: 26px;
  display: inline-block;
}
.team-current-theme9 .inner-box .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme9 .inner-box .social-link {
    transition: none;
  }
}
.team-current-theme9 .inner-box .social-link li {
  list-style: none;
  margin-bottom: 0;
}
.team-current-theme9 .inner-box .social-link li a {
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 20px;
  display: inline-block;
  background: #fafafb;
  color: var(--theme-color1);
  text-align: center;
  border-radius: 5px;
  margin: 0 10px;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme9 .inner-box .social-link li a {
    transition: none;
  }
}
.team-current-theme9 .inner-box .social-link li a:hover {
  color: #fff;
  background-color: var(--theme-color1);
}

.team-current-theme10 {
  position: relative;
}
.team-current-theme10 .inner-box {
  position: relative;
  padding-bottom: 40px;
}
.team-current-theme10 .inner-box:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.team-current-theme10 .inner-box:hover .social-link a {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
  visibility: visible;
}
.team-current-theme10 .image-box {
  position: relative;
}
.team-current-theme10 .image-box .image {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  z-index: 1;
}
.team-current-theme10 .image-box .image img {
  width: 100%;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme10 .image-box .image img {
    transition: none;
  }
}
.team-current-theme10 .info-box {
  position: absolute;
  right: 0;
  left: 35px;
  bottom: 0;
  padding: 17px 30px 14px;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
  min-height: 93px;
}
@media (max-width: 1199.98px) {
  .team-current-theme10 .info-box {
    left: 15px;
  }
}
@media (max-width: 575.98px) {
  .team-current-theme10 .info-box {
    position: relative;
    left: 0;
    padding-left: 60px;
  }
}
.team-current-theme10 .info-box .team-title {
  margin-top: 0;
  margin-bottom: 5px;
}
.team-current-theme10 .info-box .team-title:hover {
  color: var(--theme-color1);
}
.team-current-theme10 .info-box .team-subtitle {
  position: relative;
  line-height: 1em;
  display: block;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme10 .info-box .team-subtitle {
    transition: none;
  }
}
.team-current-theme10 .share-icon {
  position: absolute;
  top: 14px;
  left: 16px;
  height: 65px;
  width: 65px;
  font-size: 20px;
  line-height: 65px;
  text-align: center;
  color: #fff;
  background-color: var(--theme-color1);
  border-radius: 5px;
  transition: all 300ms ease;
  z-index: 3;
}
@media (max-width: 575.98px) {
  .team-current-theme10 .share-icon {
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    top: 20px;
  }
}
.team-current-theme10 .social-link {
  position: absolute;
  left: 30px;
  bottom: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .team-current-theme10 .social-link {
    transition: none;
  }
}
@media (max-width: 575.98px) {
  .team-current-theme10 .social-link {
    left: 19px;
  }
}
.team-current-theme10 .social-link li {
  list-style: none;
  margin-bottom: 0;
}
.team-current-theme10 .social-link li a {
  position: relative;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  color: var(--headings-color);
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}
.team-current-theme10 .social-link li a:hover {
  color: #fff;
  background-color: var(--theme-color1);
}