.event-skin-style7 {
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  @include transition(all .3s ease-in-out);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  @include box-shadow( 0px 30px 50px rgba(5, 5, 5, 0.14) );
  .event-thumb {
    position: relative;
    overflow: hidden;
    .tribe-events-event-image {
      &:after{
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        content: "";
        background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0, 0.9) 5%, rgba(55,55,55, 0.1) 100%);
        background-image: -ms-linear-gradient( 90deg, rgba(0,0,0, 0.9) 5%, rgba(55,55,55, 0.1) 100%);
      }
      img {
        @include scale(1);
        @include transition(all .3s ease-in-out);
      }
    }
    .event-single-meta-date {
      background-color: var(--theme-color1);
      padding: 15px 20px;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;


      width: 100px;
      height: 100px;
      background: #fafafa;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      top: -15px;
      right: -15px;
      .day {
        color: #111;
        font-size: 24px;
        line-height: 1em;
      }
      .month {
        color: #111;
        font-size: 15px;
        line-height: 1.1em;
      }
      .year {
        color: #111;
        font-size: 24px;
        line-height: 1em;
      }
    }
    .thumb-over-content {
      position: absolute;
      bottom: 21px;
      left: 30px;
      .event-title {
        color: #fff;
        margin-top: 0;
        margin-bottom: 10px;
      }
      .event-meta {
        color: #fff;
        font-size: 14px;
        margin-top: 5px;
        .each-meta {
          display: inline-block;
          margin-right: 10px;
        }
        i {
          margin-right: 3px;
        }
      }
    }
  }
  .event-content {
    padding: 30px;
    .event-meta {
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 15px;
      .each-meta {
        display: inline-block;
        margin-right: 10px;
      }
      i {
        margin-right: 3px;
      }
    }
    .event-excerpt {
    }
    .btn-view-details {
      margin-top: 10px;
    }
  }
  &:hover {
    .event-thumb {
      img {
        @include scale(1.1);
      }
    }
  }
}