.tm-sc-service {
  .icon {
    display: inline-block;
  }
  .icon,
  .feature-title,
  .feature-details {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
}

.owl-carousel {
  .service-item {
    .content-box {
      box-shadow: none;
      border: 1px solid #eee;
    }
  }
}
