@import "../../bootstrap-loader";
@import "service-common";
.service-block-style1 {
  position: relative;
  margin-bottom: 30px;
  .inner-box {
    position: relative;
    text-align: center;
    margin-top: 40px;
    padding: 70px 40px 35px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #eee;
    @include transition(all 0.3s ease);
    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
      .service-icon {
        @include transform(scale(-1) rotate(180deg));
        border-color: var(--theme-color1);
      }
    }
    .service-icon {
      position: absolute;
      left: 50%;
      top: -40px;
      margin-left: -40px;
      width: 80px;
      height: 80px;
      text-align: center;
      line-height: 78px;
      border-radius: 50%;
      border: 1px solid #e3e3e3;
      background-color: #ffffff;
      font-size: 42px;
      color: var(--theme-color1);
      @include transition(all 300ms ease);
    }
    .service-title {
      color: var(--theme-color2);
      margin-bottom: 20px;
      margin-top: 0;
      &:hover {
        color: var(--theme-color1);
      }
    }
    .service-details {
      margin-bottom: 25px;
    }
    .btn-view-details {
      .btn-plain-text-with-arrow-right {
        color: var(--theme-color2);
        font-weight: 600 !important;
        letter-spacing: 0.8px !important;
        @include transition(all 0.3s ease);
        &:hover {
          color: var(--theme-color1) !important;
        }
        &:after {
          color: var(--theme-color1) !important;
        }
      }
    }
  }
}
