@import "../../bootstrap-loader";
@import "service-common";



.service-block-style9 {
  margin-bottom: 30px;
  .inner-box {
    position: relative;
    padding: 58px 30px 33px;
    background: rgba(255, 255, 255, .05);
    @include transition(all 300ms ease);
    margin-top: 32px;
    &:hover {
      i {
        background-color: var(--theme-color2);
      }
    }
    i {
      margin-bottom: 30px;
      position: absolute;
      top: -32px;
      left: 30px;
      font-size: 38px;
      width: 60px;
      height: 60px;
      background-color: var(--theme-color1);
      line-height: 60px;
      text-align: center;
      color: #fff;
      @include transition(all 300ms ease);
    }
    .service-title {}
    .service-details {
      margin-bottom: 37px;
    }
  }
}