@import "../../bootstrap-loader";
@import "service-common";
.service-block-style4 {
  position: relative;
  .inner-box {
    position: relative;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 40px 40px 40px;
    border-radius: 10px;
    @include transition(all 300ms ease);
    @include media-breakpoint-down(sm) {
      padding: 20px 20px 40px;
    }
    &:hover {
      box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
      .image-box {
        .service-featured-img {
          img {
            @include transform(scale(1.1));
            @include transition(all 300ms ease);
          }
        }
      }
      .content-box {
        .service-icon {
          i {
            color: var(--theme-color2);
            border: 1px solid var(--theme-color1);
            &::before {
              @include transform(scaleX(-1));
            }
          }
        }
      }
    }
    .image-box {
      position: relative;
      .service-featured-img {
        overflow: hidden;
        border-radius: 10px;
        img {
          width: 100%;
          @include transition(all 300ms ease);
        }
      }
    }
    .content-box {
      position: relative;
      text-align: center;
      .service-icon {
        @include transition(all 300ms ease);
        i {
          position: relative;
          display: inline-block;
          font-size: 50px;
          width: 80px;
          height: 80px;
          line-height: 80px;
          text-align: center;
          border-radius: 10px;
          background-color: #fff;
          border: 1px solid transparent;
          box-shadow: 0 15px 60px rgba(68, 67, 67, 0.08);
          color: var(--theme-color1);
          margin-top: -40px;
          &::before {
            @include transition(all 300ms ease);
            display: inline-block;
          }
        }
      }
      .service-title {
        color: #3c4958;
        margin: 20px 0 20px;
        a {
          &:hover {
            color: var(--theme-color2);
          }
        }
      }
    }
  }
}
