@import "../../bootstrap-loader";
@import "service-common";
.service-block-style6 {
  position: relative;
  .inner-box {
    position: relative;
    margin-top: 30px;
    @include transition(all 0.3s ease);
    &:hover {
      .image-box {
        .service-icon {
          i {
            background-color: var(--theme-color1);
            color: #fff;
          }
        }
        .service-featured-img {
          img {
            @include transform(scale(1.1));
          }
        }
      }
      .read-more {
        i {
          color: var(--theme-color1);
        }
      }
    }
  }
  .image-box {
    position: relative;
    .service-featured-img {
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      border-radius: 10px 10px 0 0;
      img {
        display: block;
        width: 100%;
        @include transition(all 400ms ease);
      }
    }
    .service-icon {
      i {
        position: absolute;
        top: -30px;
        left: 30px;
        width: 80px;
        height: 80px;
        @include flex-center;
        text-align: center;
        color: var(--theme-color1);
        font-size: 48px;
        background-color: #fff;
        border-radius: 10px;
        @include transition(all 0.3s ease);
      }
    }
  }
  .content-box {
    position: relative;
    padding: 20px 30px 30px;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    background-color: #ffffff;
    border: 1px solid #eee;
    @include transition(all 0.3s ease);
    .service-subtitle {
      margin-bottom: 10px;
      display: inline-block;
    }
    .service-title {
      margin-top: 0;
      margin-bottom: 20px;
      color: var(--theme-color2);
      a:hover {
        color: var(--theme-color1);
      }
    }
    .service-details {
      color: var(--text-color);
      margin-bottom: 12px;
    }
    .read-more {
      font-weight: 600;
      color: var(--theme-color2);
      letter-spacing: 0.8px;
      i {
        margin-left: 10px;
        @include transition(all 0.3s ease);
      }
      &:hover {
        color: var(--theme-color1);
      }
    }
  }
}
