.counter-block-ten {
  position: relative;
  margin-bottom: 40px;
}
.counter-block-ten .inner {
  position: relative;
  padding-left: 110px;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .counter-block-ten .inner {
    transition: none;
  }
}
@media (max-width: 1199.98px) {
  .counter-block-ten .inner {
    max-width: 100%;
  }
}
.counter-block-ten .inner:hover .counter-icon {
  background-color: #fff;
  color: var(--theme-color1);
  border-radius: 50%;
}
.counter-block-ten .counter-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 42px;
  line-height: 1em;
  border-radius: 50%;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .counter-block-ten .counter-icon {
    transition: none;
  }
}
.counter-block-ten .count-box {
  position: relative;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
}
.counter-block-ten .count-box .counter {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  margin-top: 0;
  color: #fff;
}
.counter-block-ten .title {
  color: #E1E1E1;
  margin-bottom: 0;
}