.counter-block-saven {
  position: relative;
  margin-bottom: 50px;
  padding: 40px 40px 35px;
  text-align: center;
  border-radius: 5px;
  background-color: #fafafb;
  transition: all 300ms ease;
  position: relative;
}
@media (prefers-reduced-motion: reduce) {
  .counter-block-saven {
    transition: none;
  }
}
.counter-block-saven:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}
.counter-block-saven .counter-icon {
  position: relative;
  margin-bottom: 22px;
}
.counter-block-saven .counter-icon i {
  font-size: 60px;
}
.counter-block-saven .count-box {
  font-size: 55px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: -0.017em;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.counter-block-saven .count-box .counter {
  font-size: 55px;
  line-height: 60px;
  font-weight: 700;
}
.counter-block-saven .title {
  margin-bottom: 0;
}