.tm-sc-service .icon {
  display: inline-block;
}
.tm-sc-service .icon,
.tm-sc-service .feature-title,
.tm-sc-service .feature-details {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.service-block-style10 {
  position: relative;
}
.service-block-style10 .inner-box {
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.service-block-style10 .inner-box:hover .image-box .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.service-block-style10 .inner-box:hover .content-box .service-icon {
  background-color: var(--theme-color1);
  color: #fff;
}
.service-block-style10 .inner-box .content-box {
  position: relative;
  padding: 30px 30px 30px;
}
@media (max-width: 991.98px) {
  .service-block-style10 .inner-box .content-box {
    padding: 50px 50px;
  }
}
@media (max-width: 767.98px) {
  .service-block-style10 .inner-box .content-box {
    padding: 30px 20px;
  }
}
.service-block-style10 .inner-box .content-box .service-icon {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: var(--theme-color1);
  font-size: 30px;
  border: 1px solid var(--theme-color1);
  border-radius: 50%;
  margin-bottom: 20px;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .service-block-style10 .inner-box .content-box .service-icon {
    transition: none;
  }
}
.service-block-style10 .inner-box .content-box .service-title {
  color: var(--theme-color2);
  margin-top: 0;
  margin-bottom: 10px;
}
.service-block-style10 .inner-box .content-box .service-title a:hover {
  color: var(--theme-color1);
}
.service-block-style10 .inner-box .content-box .service-details {
  margin-bottom: 20px;
  color: var(--text-color);
}
.service-block-style10 .inner-box .content-box .read-more {
  border: 1px solid var(--theme-color1);
  line-height: 18px;
  background-color: #ffffff;
  color: var(--theme-color2);
}
.service-block-style10 .inner-box .content-box .read-more:before {
  background-color: var(--bg-theme-color1);
}
.service-block-style10 .inner-box .content-box .read-more:hover {
  color: #fff;
}
.service-block-style10 .inner-box .image-box .image {
  position: relative;
  overflow: hidden;
}
.service-block-style10 .inner-box .image-box .image img {
  border-radius: 10px;
  transition: all 300ms ease;
}