.tm-sc-service .icon {
  display: inline-block;
}
.tm-sc-service .icon,
.tm-sc-service .feature-title,
.tm-sc-service .feature-details {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.service-block-style6 {
  position: relative;
  margin-bottom: 30px;
}
.service-block-style6 .inner-box {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 40px;
  height: 100%;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
  transition: all 300ms ease;
  z-index: 0;
}
@media (prefers-reduced-motion: reduce) {
  .service-block-style6 .inner-box {
    transition: none;
  }
}
.service-block-style6 .inner-box:before {
  position: absolute;
  left: 50%;
  right: 0;
  top: 0px;
  margin-left: -222px;
  width: 444px;
  height: 444px;
  background-image: url(../../../images/current-theme/shadow-1.png);
  opacity: 0.8;
  pointer-events: none;
  transform: scale(0);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 300ms ease;
  content: "";
  z-index: -1;
}
@media (prefers-reduced-motion: reduce) {
  .service-block-style6 .inner-box:before {
    transition: none;
  }
}
.service-block-style6 .inner-box:hover:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.service-block-style6 .inner-box:hover .icon-box:before {
  -webkit-transform: translate(7px, 7px);
  -moz-transform: translate(7px, 7px);
  -ms-transform: translate(7px, 7px);
  transform: translate(7px, 7px);
}
.service-block-style6 .inner-box .icon-box {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: var(--theme-color2);
  margin-bottom: 45px;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .service-block-style6 .inner-box .icon-box {
    transition: none;
  }
}
.service-block-style6 .inner-box .icon-box:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--theme-color1);
  transition: all 300ms ease;
  content: "";
}
@media (prefers-reduced-motion: reduce) {
  .service-block-style6 .inner-box .icon-box:before {
    transition: none;
  }
}
.service-block-style6 .inner-box .icon-box i {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  background: #00fcff;
  color: #333;
  font-size: 58px;
  position: relative;
  z-index: 99;
}
.service-block-style6 .inner-box .service-title {
  margin-bottom: 15px;
  margin-top: 0;
}
.service-block-style6 .inner-box .service-title:hover {
  color: var(--theme-color1);
}
.service-block-style6 .inner-box .service-details {
  position: relative;
  margin-bottom: 20px;
}