.tm-sc-service .icon {
  display: inline-block;
}
.tm-sc-service .icon,
.tm-sc-service .feature-title,
.tm-sc-service .feature-details {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.owl-carousel .service-item .content-box {
  box-shadow: none;
  border: 1px solid #eee;
}

.service-block-style4 {
  position: relative;
}
.service-block-style4 .inner-box {
  position: relative;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 40px 40px 40px;
  border-radius: 10px;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .service-block-style4 .inner-box {
    transition: none;
  }
}
@media (max-width: 575.98px) {
  .service-block-style4 .inner-box {
    padding: 20px 20px 40px;
  }
}
.service-block-style4 .inner-box:hover {
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
}
.service-block-style4 .inner-box:hover .image-box .service-featured-img img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .service-block-style4 .inner-box:hover .image-box .service-featured-img img {
    transition: none;
  }
}
.service-block-style4 .inner-box:hover .content-box .service-icon {
  color: var(--theme-color2);
  border: 1px solid var(--theme-color1);
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .service-block-style4 .inner-box:hover .content-box .service-icon {
    transition: none;
  }
}
.service-block-style4 .inner-box .image-box {
  position: relative;
}
.service-block-style4 .inner-box .image-box .service-featured-img {
  overflow: hidden;
  border-radius: 10px;
}
.service-block-style4 .inner-box .image-box .service-featured-img img {
  width: 100%;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .service-block-style4 .inner-box .image-box .service-featured-img img {
    transition: none;
  }
}
.service-block-style4 .inner-box .content-box {
  position: relative;
  text-align: center;
}
.service-block-style4 .inner-box .content-box .service-icon {
  position: relative;
  display: inline-block;
  font-size: 50px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 15px 60px rgba(68, 67, 67, 0.08);
  color: var(--theme-color1);
  margin-top: -40px;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .service-block-style4 .inner-box .content-box .service-icon {
    transition: none;
  }
}
.service-block-style4 .inner-box .content-box .service-title {
  color: #3c4958;
  margin: 20px 0 20px;
}
.service-block-style4 .inner-box .content-box .service-title a:hover {
  color: var(--theme-color2);
}