.tm-sc-service .icon {
  display: inline-block;
}
.tm-sc-service .icon,
.tm-sc-service .feature-title,
.tm-sc-service .feature-details {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.owl-carousel .service-item .content-box {
  box-shadow: none;
  border: 1px solid #eee;
}

.service-block-style7 .inner-box {
  position: relative;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 46px 40px 40px 23px;
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media (max-width: 1199.98px) {
  .service-block-style7 .inner-box {
    padding: 30px 30px;
  }
}
.service-block-style7 .inner-box:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  height: 0;
  background-color: var(--theme-color1);
  content: "";
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .service-block-style7 .inner-box:before {
    transition: none;
  }
}
.service-block-style7 .inner-box:hover:before {
  height: 100%;
}
.service-block-style7 .inner-box:hover .content .icon-box {
  border-color: #fff;
}
.service-block-style7 .inner-box:hover .content .icon-box .service-icon {
  color: var(--theme-color1);
  background-color: #fff;
}
.service-block-style7 .inner-box:hover .content .service-details {
  color: #fff;
}
.service-block-style7 .inner-box:hover .content .service-title {
  color: #fff;
}
.service-block-style7 .inner-box .content {
  position: relative;
  padding-right: 95px;
}
@media (max-width: 991.98px) {
  .service-block-style7 .inner-box .content {
    padding-right: 0;
    text-align: center;
  }
}
.service-block-style7 .inner-box .content .icon-box {
  position: absolute;
  top: 0px;
  right: 0;
  border: 1px solid var(--theme-color1);
  padding: 7px;
  border-radius: 50%;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .service-block-style7 .inner-box .content .icon-box {
    transition: none;
  }
}
@media (max-width: 991.98px) {
  .service-block-style7 .inner-box .content .icon-box {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
  }
}
.service-block-style7 .inner-box .content .icon-box .service-icon {
  display: block;
  height: 65px;
  width: 65px;
  font-size: 36px;
  line-height: 65px;
  background-color: var(--theme-color1);
  text-align: center;
  border-radius: 50%;
  color: #fff;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .service-block-style7 .inner-box .content .icon-box .service-icon {
    transition: none;
  }
}
.service-block-style7 .inner-box .content .service-title {
  color: var(--theme-color2);
  margin-top: 0;
  margin-bottom: 5px;
}
.service-block-style7 .inner-box .content .service-details {
  color: var(--text-color);
  transition: all 300ms ease;
  margin-bottom: 0;
}
@media (prefers-reduced-motion: reduce) {
  .service-block-style7 .inner-box .content .service-details {
    transition: none;
  }
}