@import "../../bootstrap-loader";

.blog-item-current-style2 {
  position: relative;
  margin-bottom: 30px;
  &:hover {
    .entry-header .thumb {
      &::after {
        left: 0;
        right: 0;
        opacity: 0;
        @include transition(all 400ms linear);
      }
      img {
        @include transform(scale(1.1) !important);
      }
    }
  }
  .entry-header {
    padding: 0 30px;
    .thumb {
      overflow: hidden;
      border-radius: 10px;
      &::after {
        background: rgba(255, 255, 255, 0.3);
        bottom: 0;
        content: "";
        left: 50%;
        position: absolute;
        right: 51%;
        top: 0;
        opacity: 1;
        pointer-events: none;
        @include transition(all 400ms linear);
      }
      img {
        width: 100%;
        transition: all 0.3s ease;
      }
    }
  }
  .entry-content {
    background-color: #f2f3f5;
    padding: 145px 30px 30px;
    margin-top: -122px;
    border-radius: 10px;
    .entry-title {
      color: var(--theme-color2);
      &:hover {
        a {
          color: var(--theme-color1);
        }
      }
    }
    .entry-meta {
      i {
        color: var(--theme-color1);
      }
      .categories-links {
        a:last-child {
          display: none;
        }
      }
    }
    .btn-plain-text-with-arrow-right {
      border-bottom: none !important;
      text-transform: capitalize !important;
      font-weight: 600 !important;
    }
  }
}
