@import "../../bootstrap-loader";

.tm-sc-blog {
  .blog-item-current-style6 {
    position: relative;
    @include transition(all 300ms ease);
    &::before {
      position: absolute;
      left: 50%;
      width: 0;
      bottom: 0;
      height: 10px;
      border-bottom: 3px solid var(--theme-color1);
      border-radius: 0 0 10px 10px;
      content: "";
      z-index: 3;
      @include transition(all 300ms ease);
    }
    &:hover {
      &::before {
        left: 0;
        width: 100%;
      }
      .entry-header .thumb {
        &::after {
          left: 0;
          right: 0;
          opacity: 0;
          @include transition(all 400ms linear);
        }
        img {
          @include transform(scale(1.1));
        }
      }
    }
    .entry-header {
      position: relative;
      .thumb {
        position: relative;
        overflow: hidden;
        margin-bottom: 0;
        border-radius: 10px 10px 0 0;
        img {
          display: block;
          width: 100%;
          @include transition(all 400ms ease);
        }
        &::after {
          background: rgba(255, 255, 255, 0.3);
          bottom: 0;
          content: "";
          left: 50%;
          position: absolute;
          right: 51%;
          top: 0;
          opacity: 1;
          pointer-events: none;
          @include transition(all 400ms linear);
        }
      }
    }
    .entry-content {
      position: relative;
      padding: 30px;
      border: 1px solid #e3e3e3;
      border-top: 0;
      border-radius: 0 0 10px 10px;
      background-color: #ffffff;
      @include transition(all 300ms ease);
      .entry-title {
        margin-bottom: 12px;
        &:hover {
          color: var(--theme-color2);
        }
      }
      .entry-meta i {
        color: var(--theme-color1);
      }
      .mascot-post-excerpt {
        margin-bottom: 30px;
      }
    }
  }
}
