@import "../../bootstrap-loader";

.tm-sc-blog {
  .blog-item-current-style8 {
    position: relative;
    transition: all 300ms ease;
    &:hover {
      .entry-content {
        border-color: var(--theme-color1);
      }
      .entry-header .thumb {
        &::after {
          left: 0;
          right: 0;
          opacity: 0;
          @include transition(all 400ms linear);
        }
        img {
          @include transform(scale(1.1));
        }
      }
    }
    .entry-header {
      position: relative;
      .thumb {
        position: relative;
        overflow: hidden;
        margin-bottom: 0;
        border-radius: 10px 10px 0 0;
        img {
          display: block;
          width: 100%;
          @include transition(all 400ms ease);
        }
        &::after {
          background: rgba(255, 255, 255, 0.3);
          bottom: 0;
          content: "";
          left: 50%;
          position: absolute;
          right: 51%;
          top: 0;
          opacity: 1;
          pointer-events: none;
          @include transition(all 400ms linear);
        }
      }
      .post-single-meta {
        position: absolute;
        right: 20px;
        bottom: -15px;
        background: var(--theme-color1);
        color: #ffffff;
        z-index: 1;
        @include flex-center;
        height: 80px;
        width: 80px;
        text-align: center;
        line-height: 1.2em;
        font-weight: 500;
        border-radius: 50%;
        border: 4px solid #fff;
        span {
          display: block;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
          color: var(--text-color-bg-theme-color1);
          &.year {
            display: none;
          }
        }
      }
    }
    .entry-content {
      position: relative;
      padding: 30px;
      border: 1px solid #e3e3e3;
      border-top: 0;
      border-radius: 0 0 10px 10px;
      background-color: #ffffff;
      transition: all 300ms ease;
      .author-thumb {
        position: relative;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid var(--theme-color1);
        display: inline-block;
        background: #fff;
        img {
          mix-blend-mode: luminosity;
        }
      }
      .entry-title {
        margin-bottom: 12px;
        &:hover {
          color: var(--theme-color2);
        }
      }
      .entry-meta i {
        color: var(--theme-color1);
      }
      .mascot-post-excerpt {
        margin-bottom: 30px;
      }
    }
  }
}
