@font-face {
    font-family: "FlaticonDigicod";
    src: url("fonts/flaticon-set-digicod.ttf") format("truetype"),
    url("fonts/flaticon-set-digicod.woff") format("woff"),
    url("fonts/flaticon-set-digicod.woff2") format("woff2"),
    url("fonts/flaticon-set-digicod.eot#iefix") format("embedded-opentype"),
    url("fonts/flaticon-set-digicod.svg#FlaticonDigicod") format("svg");
    font-weight: normal;
    font-style: normal;
  font-display: swap;
}

i[class^="flaticon-digicod-"]:before, i[class*=" flaticon-digicod-"]:before {
    font-family: FlaticonDigicod !important;
    font-style: normal;
    font-weight: normal;
}
.flaticon-digicod-notebook:before { content: "\f100"; }
.flaticon-digicod-edit:before { content: "\f101"; }
.flaticon-digicod-placeholder:before { content: "\f102"; }
.flaticon-digicod-paper-plane:before { content: "\f103"; }
.flaticon-digicod-user:before { content: "\f104"; }
.flaticon-digicod-unlink:before { content: "\f105"; }
.flaticon-digicod-search:before { content: "\f106"; }
.flaticon-digicod-drop:before { content: "\f107"; }
.flaticon-digicod-christmas-tree:before { content: "\f108"; }
.flaticon-digicod-plus:before { content: "\f109"; }
.flaticon-digicod-battery:before { content: "\f10a"; }
.flaticon-digicod-target:before { content: "\f10b"; }
.flaticon-digicod-first-aid-kit:before { content: "\f10c"; }
.flaticon-digicod-tablet:before { content: "\f10d"; }
.flaticon-digicod-dustbin:before { content: "\f10e"; }
.flaticon-digicod-telegram-logo:before { content: "\f10f"; }
.flaticon-digicod-4-square-shapes:before { content: "\f110"; }
.flaticon-digicod-speech-bubble-and-three-dots:before { content: "\f111"; }
.flaticon-digicod-man:before { content: "\f112"; }
.flaticon-digicod-tree-of-love:before { content: "\f113"; }
.flaticon-digicod-play-button:before { content: "\f114"; }
.flaticon-digicod-royal-crown-of-elegant-vintage-design:before { content: "\f115"; }
.flaticon-digicod-desktop-computer-with-magnifying-lens-focusing-on-data:before { content: "\f116"; }
.flaticon-digicod-test-tube-flask-and-drop-of-blood:before { content: "\f117"; }
.flaticon-digicod-stocks-graphic-on-laptop-monitor:before { content: "\f118"; }
.flaticon-digicod-attachment:before { content: "\f119"; }
.flaticon-digicod-transport:before { content: "\f11a"; }
.flaticon-digicod-recycle-triangle-of-three-arrows-outlines:before { content: "\f11b"; }
.flaticon-digicod-arrows:before { content: "\f11c"; }
.flaticon-digicod-snowflake:before { content: "\f11d"; }
.flaticon-digicod-clock:before { content: "\f11e"; }
.flaticon-digicod-find-in-folder:before { content: "\f11f"; }
.flaticon-digicod-smartphone:before { content: "\f120"; }
.flaticon-digicod-arrow-pointing-to-right:before { content: "\f121"; }
.flaticon-digicod-gas-pump:before { content: "\f122"; }
.flaticon-digicod-house-silhouette:before { content: "\f123"; }
.flaticon-digicod-arrows-1:before { content: "\f124"; }
.flaticon-digicod-floor:before { content: "\f125"; }
.flaticon-digicod-exercise:before { content: "\f126"; }
.flaticon-digicod-love-planet:before { content: "\f127"; }
.flaticon-digicod-workers:before { content: "\f128"; }
.flaticon-digicod-open-magazine:before { content: "\f129"; }
.flaticon-digicod-confirm-schedule:before { content: "\f12a"; }
.flaticon-digicod-star:before { content: "\f12b"; }
.flaticon-digicod-order:before { content: "\f12c"; }
.flaticon-digicod-key:before { content: "\f12d"; }
.flaticon-digicod-medical:before { content: "\f12e"; }
.flaticon-digicod-smartphone-1:before { content: "\f12f"; }
.flaticon-digicod-plug:before { content: "\f130"; }
.flaticon-digicod-arrows-2:before { content: "\f131"; }
.flaticon-digicod-arrows-3:before { content: "\f132"; }
.flaticon-digicod-money-bag:before { content: "\f133"; }
.flaticon-digicod-next:before { content: "\f134"; }
.flaticon-digicod-back:before { content: "\f135"; }
.flaticon-digicod-reload:before { content: "\f136"; }
.flaticon-digicod-headphones:before { content: "\f137"; }
.flaticon-digicod-signs:before { content: "\f138"; }
.flaticon-digicod-diamond:before { content: "\f139"; }
.flaticon-digicod-chat:before { content: "\f13a"; }
.flaticon-digicod-phone:before { content: "\f13b"; }
.flaticon-digicod-down-chevron:before { content: "\f13c"; }
.flaticon-digicod-up-chevron:before { content: "\f13d"; }
.flaticon-digicod-stairs:before { content: "\f13e"; }
.flaticon-digicod-music-player:before { content: "\f13f"; }
.flaticon-digicod-play-button-1:before { content: "\f140"; }
.flaticon-digicod-speaker:before { content: "\f141"; }
.flaticon-digicod-menu:before { content: "\f142"; }
.flaticon-digicod-share:before { content: "\f143"; }
.flaticon-digicod-map:before { content: "\f144"; }
.flaticon-digicod-hourglass:before { content: "\f145"; }
.flaticon-digicod-layers:before { content: "\f146"; }
.flaticon-digicod-home:before { content: "\f147"; }
.flaticon-digicod-handshake:before { content: "\f148"; }
.flaticon-digicod-time:before { content: "\f149"; }
.flaticon-digicod-worldwide:before { content: "\f14a"; }
.flaticon-digicod-board:before { content: "\f14b"; }
.flaticon-digicod-twitter:before { content: "\f14c"; }
.flaticon-digicod-smartphone-2:before { content: "\f14d"; }
.flaticon-digicod-mobile:before { content: "\f14e"; }
.flaticon-digicod-maps-and-flags:before { content: "\f14f"; }
.flaticon-digicod-add:before { content: "\f150"; }
.flaticon-digicod-substract:before { content: "\f151"; }
.flaticon-digicod-phone-call:before { content: "\f152"; }
.flaticon-digicod-monitor:before { content: "\f153"; }
.flaticon-digicod-menu-1:before { content: "\f154"; }
.flaticon-digicod-cancel:before { content: "\f155"; }
.flaticon-digicod-24-hours:before { content: "\f156"; }
.flaticon-digicod-t-shirt-outline:before { content: "\f157"; }
.flaticon-digicod-folder-outline:before { content: "\f158"; }
.flaticon-digicod-quote:before { content: "\f159"; }
.flaticon-digicod-play-button-2:before { content: "\f15a"; }
.flaticon-digicod-right-quotation-sign:before { content: "\f15b"; }
.flaticon-digicod-up-arrow:before { content: "\f15c"; }
.flaticon-digicod-open-mail-interface-symbol:before { content: "\f15d"; }
.flaticon-digicod-menu-button:before { content: "\f15e"; }
.flaticon-digicod-smartphone-3:before { content: "\f15f"; }
.flaticon-digicod-add-1:before { content: "\f160"; }
.flaticon-digicod-play-button-3:before { content: "\f161"; }
.flaticon-digicod-play-button-4:before { content: "\f162"; }
.flaticon-digicod-support:before { content: "\f163"; }
.flaticon-digicod-close:before { content: "\f164"; }
.flaticon-digicod-heart-1:before { content: "\f165"; }
.flaticon-digicod-renewable:before { content: "\f166"; }
.flaticon-digicod-bar-chart:before { content: "\f167"; }
.flaticon-digicod-profit:before { content: "\f168"; }
.flaticon-digicod-settings:before { content: "\f169"; }
.flaticon-digicod-confirm:before { content: "\f16a"; }
.flaticon-digicod-edit-1:before { content: "\f16b"; }
.flaticon-digicod-share-1:before { content: "\f16c"; }
.flaticon-digicod-decreasing:before { content: "\f16d"; }
.flaticon-digicod-graph:before { content: "\f16e"; }
.flaticon-digicod-multi-tab:before { content: "\f16f"; }
.flaticon-digicod-graph-1:before { content: "\f170"; }
.flaticon-digicod-graph-2:before { content: "\f171"; }
.flaticon-digicod-tick:before { content: "\f172"; }
.flaticon-digicod-pin:before { content: "\f173"; }
.flaticon-digicod-alarm-clock:before { content: "\f174"; }
.flaticon-digicod-close-1:before { content: "\f175"; }
.flaticon-digicod-settings-1:before { content: "\f176"; }
.flaticon-digicod-telephone:before { content: "\f177"; }
.flaticon-digicod-home-1:before { content: "\f178"; }
.flaticon-digicod-search-1:before { content: "\f179"; }
.flaticon-digicod-notification:before { content: "\f17a"; }
.flaticon-digicod-attachment-1:before { content: "\f17b"; }
.flaticon-digicod-down-arrow:before { content: "\f17c"; }
.flaticon-digicod-tv:before { content: "\f17d"; }
.flaticon-digicod-phone-receiver:before { content: "\f17e"; }
.flaticon-digicod-next-1:before { content: "\f17f"; }
.flaticon-digicod-back-1:before { content: "\f180"; }
.flaticon-digicod-clock-1:before { content: "\f181"; }
.flaticon-digicod-email:before { content: "\f182"; }
.flaticon-digicod-email-1:before { content: "\f183"; }
.flaticon-digicod-engineer:before { content: "\f184"; }
.flaticon-digicod-cog:before { content: "\f185"; }
.flaticon-digicod-cog-1:before { content: "\f186"; }
.flaticon-digicod-call:before { content: "\f187"; }
.flaticon-digicod-call-1:before { content: "\f188"; }
.flaticon-digicod-email-2:before { content: "\f189"; }
.flaticon-digicod-shopping-bag:before { content: "\f18a"; }
.flaticon-digicod-clock-2:before { content: "\f18b"; }
.flaticon-digicod-custom:before { content: "\f18c"; }
.flaticon-digicod-settings-2:before { content: "\f18d"; }
.flaticon-digicod-monitor-1:before { content: "\f18e"; }
.flaticon-digicod-stats:before { content: "\f18f"; }
.flaticon-digicod-monitor-2:before { content: "\f190"; }
.flaticon-digicod-bars:before { content: "\f191"; }
.flaticon-digicod-bar-chart-1:before { content: "\f192"; }
.flaticon-digicod-bars-1:before { content: "\f193"; }
.flaticon-digicod-camera:before { content: "\f194"; }
.flaticon-digicod-camera-1:before { content: "\f195"; }
.flaticon-digicod-camera-2:before { content: "\f196"; }
.flaticon-digicod-dslr-camera:before { content: "\f197"; }
.flaticon-digicod-tower:before { content: "\f198"; }
.flaticon-digicod-technical-support:before { content: "\f199"; }
.flaticon-digicod-maintenance:before { content: "\f19a"; }
.flaticon-digicod-production:before { content: "\f19b"; }
.flaticon-digicod-3d-printer:before { content: "\f19c"; }
.flaticon-digicod-gift:before { content: "\f19d"; }
.flaticon-digicod-winner:before { content: "\f19e"; }
.flaticon-digicod-diploma:before { content: "\f19f"; }
.flaticon-digicod-diploma-1:before { content: "\f1a0"; }
.flaticon-digicod-medal:before { content: "\f1a1"; }
.flaticon-digicod-title:before { content: "\f1a2"; }
.flaticon-digicod-certificate:before { content: "\f1a3"; }
.flaticon-digicod-meeting-point:before { content: "\f1a4"; }
.flaticon-digicod-pin-1:before { content: "\f1a5"; }
.flaticon-digicod-email-3:before { content: "\f1a6"; }
.flaticon-digicod-call-2:before { content: "\f1a7"; }
.flaticon-digicod-telephone-1:before { content: "\f1a8"; }
.flaticon-digicod-teacher:before { content: "\f1a9"; }
.flaticon-digicod-support-2:before { content: "\f1aa"; }
.flaticon-digicod-design-tool:before { content: "\f1ab"; }
.flaticon-digicod-success:before { content: "\f1ac"; }
.flaticon-digicod-startup:before { content: "\f1ad"; }
.flaticon-digicod-creativity:before { content: "\f1ae"; }
.flaticon-digicod-creativity-1:before { content: "\f1af"; }
.flaticon-digicod-puzzle:before { content: "\f1b0"; }
.flaticon-digicod-vector-1:before { content: "\f1b1"; }
.flaticon-digicod-brainstorm:before { content: "\f1b2"; }
.flaticon-digicod-pencil:before { content: "\f1b3"; }
.flaticon-digicod-typography:before { content: "\f1b4"; }
.flaticon-digicod-lightbulb:before { content: "\f1b5"; }
.flaticon-digicod-cancel-1:before { content: "\f1b6"; }
.flaticon-digicod-dislike:before { content: "\f1b7"; }
.flaticon-digicod-paper-plane-1:before { content: "\f1b8"; }
.flaticon-digicod-mail:before { content: "\f1b9"; }
.flaticon-digicod-call-3:before { content: "\f1ba"; }
.flaticon-digicod-shopping-cart:before { content: "\f1bb"; }
.flaticon-digicod-shopping-cart-1:before { content: "\f1bc"; }
.flaticon-digicod-heart:before { content: "\f1bd"; }
.flaticon-digicod-compare:before { content: "\f1be"; }
.flaticon-digicod-user-1:before { content: "\f1bf"; }
.flaticon-digicod-loupe:before { content: "\f1c0"; }
.flaticon-digicod-paper-clip:before { content: "\f1c1"; }
.flaticon-digicod-shield:before { content: "\f1c2"; }
.flaticon-digicod-diamond-2:before { content: "\f1c3"; }
.flaticon-digicod-checked:before { content: "\f1c4"; }
.flaticon-digicod-right:before { content: "\f1c5"; }
.flaticon-digicod-left:before { content: "\f1c6"; }
.flaticon-digicod-padlock:before { content: "\f1c7"; }
.flaticon-digicod-starred:before { content: "\f1c8"; }
.flaticon-digicod-star-1:before { content: "\f1c9"; }
.flaticon-digicod-grid:before { content: "\f1ca"; }
.flaticon-digicod-option:before { content: "\f1cb"; }
.flaticon-digicod-sort:before { content: "\f1cc"; }
.flaticon-digicod-delete:before { content: "\f1cd"; }
.flaticon-digicod-envelope:before { content: "\f1ce"; }
.flaticon-digicod-quote-1:before { content: "\f1cf"; }
.flaticon-digicod-briefcase:before { content: "\f1d0"; }
.flaticon-digicod-file:before { content: "\f1d1"; }
.flaticon-digicod-money-1:before { content: "\f1d2"; }
.flaticon-digicod-promotion:before { content: "\f1d3"; }
.flaticon-digicod-megaphone:before { content: "\f1d4"; }
.flaticon-digicod-vector:before { content: "\f1d5"; }
.flaticon-digicod-web-programming:before { content: "\f1d6"; }
.flaticon-digicod-rocket-ship:before { content: "\f1d7"; }
.flaticon-digicod-headhunting:before { content: "\f1d8"; }
.flaticon-digicod-approved:before { content: "\f1d9"; }
.flaticon-digicod-support-1:before { content: "\f1da"; }
.flaticon-digicod-first-aid-kit-1:before { content: "\f1db"; }
.flaticon-digicod-car:before { content: "\f1dc"; }
.flaticon-digicod-compact:before { content: "\f1dd"; }
.flaticon-digicod-map-locator:before { content: "\f1de"; }
.flaticon-digicod-clock-3:before { content: "\f1df"; }
.flaticon-digicod-money:before { content: "\f1e0"; }
.flaticon-digicod-money-2:before { content: "\f1e1"; }
.flaticon-digicod-bookmark:before { content: "\f1e2"; }
.flaticon-digicod-search-2:before { content: "\f1e3"; }
.flaticon-digicod-search-3:before { content: "\f1e4"; }