@import "../../bootstrap-loader";
@import "testimonial-common";
.testimonial-block-style6 {
  position: relative;
  .inner-box {
    position: relative;
    &:hover {
      .info-box {
        .thumb {
          @include transform(scaleX(-1));
        }
      }
    }
  }
  .testimonial-content {
    position: relative;
    padding: 52px 40px 40px;
    background-color: var(--theme-light-background);
    border-radius: 10px 10px 0 0;
    .icon {
      position: absolute;
      top: 40px;
      right: 40px;
      color: var(--theme-color1);
      font-size: 40px;
      line-height: 40px;
    }
    .rating {
      position: relative;
      z-index: 2;
      line-height: 20px;
      color: #ffba08;
      margin-bottom: 22px;
      .star-rating {
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;
        span:before {
          color: #ffba08;
          font-weight: 600;
        }
      }
      i {
        margin-right: 4px;
      }
    }
    .author-text {
      position: relative;
      margin-bottom: 0;
    }
  }
  .info-box {
    position: relative;
    display: block;
    text-align: left;
    z-index: 2;
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    min-height: 140px;
    width: 100%;
    padding: 30px 30px 30px 130px;
    @include media-breakpoint-down(sm) {
      padding: 30px 30px;
      text-align: center;
    }
    .thumb {
      position: absolute;
      left: 30px;
      top: 30px;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      overflow: hidden;
      transition: all 300ms ease;
      @include media-breakpoint-down(sm) {
        position: relative;
        left: 0;
        top: 0;
        display: inline-block;
        margin-bottom: 0px;
      }
    }
    .testimonial-name {
      margin-top: 10px;
      margin-bottom: 4px;
    }
    .testimonial-position {
      display: block;
      margin-bottom: 0;
    }
  }
}
