@import "../../bootstrap-loader";
@import "testimonial-common";
.tm-sc-testimonials {
  .testimonial-block-style1 {
    position: relative;
    .inner-box {
      position: relative;
      padding: 60px 60px;
      background-color: #fff;
      border: 1px solid #e3e3e3;
      border-radius: 10px;
      @include media-breakpoint-down(sm) {
        padding: 40px 30px;
        text-align: center;
      }
      &:hover {
        border: 1px solid var(--theme-color1);
      }
    }
    .info-box {
      position: relative;
      padding-right: 100px;
      z-index: 2;
      @include media-breakpoint-down(sm) {
        padding-right: 0;
      }
      .testimonial-name {
        margin-top: 0;
        margin-bottom: 4px;
      }
      .testimonial-position {
        display: block;
        margin-bottom: 8px;
      }
      .rating {
        position: relative;
        z-index: 2;
        line-height: 20px;
        color: #ffba08;
        margin-bottom: 30px;
        .star-rating {
          margin-bottom: 0;
          display: inline-block;
          span:before {
            color: #ffba08;
            font-weight: 600;
          }
        }
        i {
          margin-right: 4px;
        }
      }
      .quote-icon {
        position: absolute;
        right: 0px;
        top: 10px;
        height: 56px;
        width: 56px;
        border: 1px solid var(--theme-color2);
        background-color: #fff;
        border: 1px solid var(--theme-color1);
        border-radius: 50%;
        padding: 2px;
        @include media-breakpoint-down(sm) {
          position: relative;
          display: inline-block;
          margin-bottom: 20px;
        }
        .icon {
          @include flex-center;
          height: 50px;
          width: 50px;
          color: #fff;
          background-color: var(--theme-color1);
          font-size: 24px;
          border-radius: 50%;
        }
      }
    }
    .content-box {
      position: relative;
      background-color: #fff;
      padding: 30px 50px 50px 160px;
      min-height: 264px;
      .reason {
        display: block;
        font-size: 18px;
        font-weight: 700;
      }
      .author-text {
        position: relative;
      }
    }
  }
}
