@import "../../bootstrap-loader";
@import "testimonial-common";
.tm-sc-testimonials {
  .testimonial-block-style2 {
    position: relative;
    margin-bottom: 30px;
    .inner-box {
      position: relative;
      margin-top: 30px;
      &:hover {
        .icon {
          background-color: var(--theme-color2);
        }
        .thumb {
          img {
            @include transform(scale(1.168));
          }
        }
      }
    }
    .content-box {
      position: relative;
      padding: 60px 30px 35px;
      background-color: var(--theme-light-background);
      border-radius: 10px;
      text-align: center;
      .icon {
        position: absolute;
        top: -30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        @include flex-center;
        height: 60px;
        width: 60px;
        color: #fff;
        background-color: var(--theme-color1);
        border: 2px solid #e3e3e3;
        font-size: 24px;
        border-radius: 50%;
        @include transition(all 300ms ease);
      }
      .rating {
        position: relative;
        z-index: 2;
        line-height: 20px;
        color: #ffba08;
        margin-bottom: 20px;
        .star-rating {
          margin-top: 0;
          margin-bottom: 0;
          display: inline-block;
          span:before {
            color: #ffba08;
            font-weight: 600;
          }
        }
        i {
          margin-right: 4px;
        }
      }
      .author-text {
        position: relative;
        margin-bottom: 30px;
      }
    }
    .info-box {
      position: relative;
      display: inline-block;
      text-align: left;
      padding-left: 100px;
      padding-top: 5px;
      z-index: 2;
      .thumb {
        position: absolute;
        left: 0;
        top: 0;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        overflow: hidden;
        img {
          @include transition(all 300ms ease);
        }
      }
      .testimonial-name {
        margin-top: 0;
        margin-bottom: 4px;
      }
      .testimonial-position {
        display: block;
        margin-bottom: 8px;
      }
    }
  }
}
