@import "../../bootstrap-loader";
@import "testimonial-common";
.tm-sc-testimonials {
  .testimonial-block-style2 {
    .testimonial-content {
      padding: 60px 50px;
      border-radius: 7px;
      border: 5px solid rgba(89, 86, 233, 0.102);
      background-color: #fff;
      .author-text {
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 30px;
        color: var(--headings-color);
      }
      .author-title-thumb {
        .author-thumb {
          flex: 0 0 65px;
          max-width: 65px;
          height: 65px;
          margin-right: 25px;
          img {
            border-radius: 50%;
            width: 100%;
          }
        }
      }
      .author-details {
        .testimonial-name {
          margin: 0;
        }
        .testimonial-position {
          color: var(--theme-color1);
          font-size: 18px;
          line-height: 28px;
          font-weight: 500;
          margin-bottom: 0;
        }
      }
    }
  }
}
