@import "../../bootstrap-loader";
@import "testimonial-common";
.testimonial-block-style4 {
  position: relative;
  padding: 0px 15px;
  margin-bottom: 30px;
  .testimonial-content {
    position: relative;
    padding: 40px 40px 40px;
    border-radius: 10px;
    padding-right: 20px;
    border: 1px solid #e1e1e1;
    margin-top: 40px;
    @include media-breakpoint-down(sm) {
      padding: 30px 20px 30px;
      text-align: center;
    }
    &:hover {
      .thumb {
        img {
          @include transform(scale(1.1));
        }
      }
    }
  }
  .info-box {
    position: relative;
    padding-left: 90px;
    min-height: 85px;
    padding-top: 7px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 25px;
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      text-align: center;
      margin-bottom: 10px;
    }
    .thumb {
      position: absolute;
      left: 0;
      top: 0;
      height: 70px;
      width: 70px;
      overflow: hidden;
      margin-bottom: 20px;
      overflow: hidden;
      @include media-breakpoint-down(sm) {
        position: relative;
        display: inline-block;
      }
      img {
        @include transition(all 300ms ease);
      }
    }
    .testimonial-name {
      margin-top: 0;
      margin-bottom: 0px;
    }
    .testimonial-position {
      display: block;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 0;
    }
    .quote-icon {
      position: absolute;
      right: 10px;
      top: -80px;
      height: 80px;
      width: 80px;
      border: 1px solid #e1e1e1;
      background-color: #fff;
      font-size: 62px;
      line-height: 1em;
      color: var(--theme-color1);
      @include flex-center;
      @include transition(all 300ms ease);
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
  .author-text {
    margin-bottom: 0;
  }
}
