@import "../../bootstrap-loader";
.team-current-theme5 {
  position: relative;
  .inner-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    &:hover {
      .image img {
        @include transform(scale(1.1));
      }
      .social-links {
        @include transform(scale(1));
        opacity: 1;
        visibility: visible;
      }
      .info-box {
        border-bottom: 2px solid var(--theme-color1);
        box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
      }
    }
  }
  .image-box {
    position: relative;
    .image {
      position: relative;
      margin-bottom: 0;
      z-index: 1;
      img {
        width: 100%;
        @include transition(all 400ms ease);
      }
    }
  }
  .info-box {
    position: relative;
    padding: 20px 30px 40px;
    background-color: #fff;
    text-align: center;
    z-index: 2;
    border-bottom: 2px solid #e3e3e3;
    border-radius: 0 0 10px 10px;
    transition: all 300ms ease;
    .team-title {
      margin-top: 0;
      margin-bottom: 10px;
      a:hover {
        color: var(--theme-color2);
      }
    }
    .team-subtitle {
      position: relative;
      display: block;
      @include transition(all 400ms ease);
      margin-bottom: 20px;
    }
  }
  .social-links {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition(all 400ms ease);
    li {
      list-style: none;
      margin-bottom: 0;
      a {
        position: relative;
        height: 30px;
        width: 30px;
        display: inline-block;
        line-height: 30px;
        text-align: center;
        font-size: 14px;
        background: var(--theme-color1);
        color: #fff;
        border-radius: 5px;
        margin: 0 5px;
        transition: all 300ms ease;
        &:hover {
          color: #fff;
          background-color: var(--theme-color2);
        }
      }
    }
  }
}
