@import "../../bootstrap-loader";
.team-current-theme6 {
  position: relative;
  .inner-box {
    position: relative;
    &:hover {
      .info-box {
        &::before {
          height: 100%;
        }
        .team-title,
        .team-subtitle {
          color: #fff;
          a {
            &:hover,
            &:focus {
              color: #fff;
            }
          }
        }
      }
      .image img {
        @include transform(scale(1.1));
      }
      .share-icon {
        background-color: var(--theme-color1);
        color: #fff;
      }
      .social-links {
        @include transform(scaleY(1));
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .image-box {
    position: relative;
    .image {
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      border-radius: 10px 10px 0 0;
      z-index: 1;
      img {
        width: 100%;
        @include transition(all 400ms ease);
      }
    }
  }
  .info-box {
    position: relative;
    padding: 30px 30px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1), 0px 4px 13px -2px rgba(19, 16, 34, 0.06);
    border-radius: 0px 0px 10px 10px;
    z-index: 2;
    overflow: hidden;
    &:before {
      @include overlay;
      content: "";
      height: 0;
      background-color: var(--theme-color1);
      @include transition(all 300ms ease);
    }
    .team-title {
      position: relative;
      margin-top: 0;
      margin-bottom: 5px;
    }
    .team-subtitle {
      position: relative;
      display: block;
      @include transition(all 400ms ease);
    }
  }
  .share-icon {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--theme-color1);
    background-color: #fff;
    @include transition(all 300ms ease);
    border-radius: 50px;
    z-index: 3;
  }
  .social-links {
    position: absolute;
    left: 30px;
    top: 45px;
    padding-top: 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 50px;
    z-index: 3;
    transform: scaleY(0);
    transform-origin: top;
    @include transition(all 400ms ease);
    li {
      list-style: none;
      margin-bottom: 0;
      a {
        position: relative;
        line-height: 16px;
        display: block;
        color: var(--text-color);
        background-color: #fff;
        border-radius: 50px;
        opacity: 0.3;
        padding: 0 12px 20px;
        border-radius: 0 0 50px 50px;
        @include transition(all 300ms ease);
        &:hover {
          color: var(--theme-color1);
          opacity: 1;
        }
      }
    }
  }
}
