@import "../../bootstrap-loader";
.team-current-theme2 {
  position: relative;
  .inner-box {
    position: relative;
    &:hover {
      .image img {
        @include transform(scale(1.1));
      }
      .social-link {
        @include transform(scaleY(1));
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .image-box {
    position: relative;
    .image {
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      z-index: 1;
      img {
        width: 100%;
        @include transition(all 400ms ease);
      }
    }
  }
  .info-box {
    position: relative;
    padding: 30px 30px;
    max-width: 350px;
    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
    margin-top: -70px;
    background: #fafafb;
    border: 5px solid #ffffff;
    text-align: center;
    z-index: 2;
    .team-title {
      margin-top: 0;
      margin-bottom: 5px;
      &:hover {
        color: var(--theme-color1);
      }
    }
    .team-subtitle {
      position: relative;
      display: block;
      margin-top: 0;
      @include transition(all 400ms ease);
    }
  }
  .share-icon {
    position: absolute;
    top: 30px;
    left: 25px;
    height: 54px;
    width: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 20px;
    color: var(--theme-color1);
    background-color: #fff;
    transition: all 300ms ease;
    border-radius: 5px;
    z-index: 3;
  }
  .social-link {
    position: absolute;
    left: 25px;
    top: 85px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include transform(scaleY(0));
    transform-origin: top;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    @include transition(all 400ms ease);
    li {
      list-style: none;
      margin-bottom: 0;
      a {
        position: relative;
        height: 54px;
        width: 54px;
        display: inline-block;
        line-height: 54px;
        text-align: center;
        font-size: 16px;
        color: var(--theme-color1);
        background-color: #fff;
        border-radius: 5px;
        margin-top: 15px;
        &:hover {
          color: #fff;
          background-color: var(--theme-color1);
        }
      }
    }
  }
}
