@import "../../bootstrap-loader";
.team-current-theme6 {
  position: relative;
  .inner-box {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 60px;
    &:hover {
      .image img {
        @include transform(scale(1.1));
      }
      .social-link {
        @include transform(scaleY(1));
      }
    }
  }
  .image-box {
    position: relative;
    .image {
      position: relative;
      border-radius: 150px 150px 0 0;
      overflow: hidden;
      margin-bottom: 0;
      z-index: 1;
      img {
        width: 100%;
        @include transition(all 400ms ease);
      }
    }
  }
  .info-box {
    position: absolute;
    left: 22px;
    right: 22px;
    bottom: 0;
    padding: 35px 30px 28px;
    border-radius: 10px;
    box-shadow: 0px 16px 52px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    text-align: center;
    z-index: 2;
    .team-title {
      margin-top: 0;
      margin-bottom: 5px;
      &:hover {
        color: var(--theme-color1);
      }
    }
    .team-subtitle {
      position: relative;
      display: block;
      @include transition(all 400ms ease);
    }
  }
  .social-link {
    position: absolute;
    left: 0;
    width: 100%;
    top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: bottom;
    z-index: 3;
    @include transition(all 400ms ease);
    li {
      list-style: none;
      margin-bottom: 0;
      a {
        position: relative;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        color: #fff;
        background-color: var(--theme-color1);
        border-radius: 5px 5px 0px 0px;
        margin: 0 5px;
        @include transition(all 300ms ease);
        &:hover {
          color: var(--theme-color1);
          background-color: #fff;
        }
      }
    }
  }
}
