@import "../../bootstrap-loader";
.team-current-theme7 {
  position: relative;
  .inner-box {
    position: relative;
    &:hover {
      .info-box {
        &:before {
          height: 100%;
        }
        .team-title,
        .team-subtitle {
          color: #fff;
          a {
            &:hover,
            &:focus {
              color: #fff;
            }
          }
        }
      }
      .image img {
        @include transform(scale(1.1));
      }
      .social-links {
        bottom: 30px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .image-box {
    position: relative;
    .image {
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      border-radius: 10px 10px 0 0;
      z-index: 1;
      img {
        width: 100%;
        @include transition(all 400ms ease);
      }
    }
  }
  .info-box {
    position: relative;
    padding: 20px 30px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    border-radius: 0px 0px 10px 10px;
    z-index: 2;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    &:before {
      @include overlay;
      content: "";
      height: 0;
      background-color: var(--theme-color1);
      @include transition(all 400ms ease);
    }
    .team-title {
      position: relative;
      margin-top: 0;
      margin-bottom: 5px;
      &:hover {
        color: var(--theme-color1);
      }
    }
    .team-subtitle {
      position: relative;
      display: block;
      @include transition(all 400ms ease);
    }
  }
  .social-links {
    position: absolute;
    left: 50%;
    bottom: 0px;
    display: flex;
    align-items: center;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    @include transform(translateX(-50%));
    @include transition(all 400ms ease);
    li {
      list-style: none;
      margin-bottom: 0;
      &:last-child {
        a {
          border-radius: 0 10px 10px 0;
          border-right: 0;
        }
      }
      &:first-child {
        a {
          border-radius: 10px 0px 0px 10px;
        }
      }
      a {
        position: relative;
        line-height: 16px;
        color: #333f4d;
        background-color: #fff;
        border-radius: 50px;
        width: 44px;
        height: 41px;
        display: inline-block;
        line-height: 41px;
        text-align: center;
        border-radius: 0;
        @include transition(all 400ms ease);
        border-right: 1px solid #f2f3f5;
        &:hover {
          color: #fff;
          background-color: var(--theme-color1);
        }
      }
    }
  }
}
