@import "../../bootstrap-loader";
@import "project-skin-common";

.tm-sc-projects {
  .projects-current-theme12 {
    position: relative;
    margin-bottom: 40px;
    .inner-box {
      position: relative;
      @include transition(all 0.3s ease);
      &:hover {
        box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        .image img {
          @include transform(scale(1.1));
        }
        .social-links {
          @include transform(scaleY(1));
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .image {
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      border-radius: 10px;
      z-index: 1;
      img {
        width: 100%;
        @include transition(all 0.4s ease);
      }
    }

    .info-box {
      position: absolute;
      bottom: 30px;
      border-radius: 10px;
      padding: 15px 15px 15px 85px;
      padding-right: 20px;
      background: #f2f3f5;
      z-index: 2;
      @include transition(all 0.3s ease);
      overflow: hidden;
      &:hover {
        background: var(--theme-color1);
        .title {
          color: #ffffff;
        }
        .read-more {
          background-color: #ffffff;
          color: var(--theme-color1);
        }
      }
      .title {
        color: var(--theme-color2);
        background: unset;
        margin-bottom: 0;
        margin-top: 0;
        a:hover {
          color: #ffffff;
        }
      }
      .read-more {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 67px;
        height: 64px;
        text-align: center;
        line-height: 67px;
        background-color: var(--theme-color1);
        color: #ffffff;
        font-size: 21px;
      }
    }
  }
}
