@import "../../bootstrap-loader";
@import "project-skin-common";

.projects-current-theme6 {
  position: relative;
  margin-bottom: 30px;
  .inner-box {
    position: relative;
    &:hover {
      .info-box {
        bottom: 40px;
        opacity: 1;
        visibility: visible;
        @include transition(all 0.3s ease);
        @include media-breakpoint-down(sm) {
          bottom: 10px;
        }
      }
      .image-box {
        .image {
          img {
            @include transform(scale(1.1));
            @include transition(all 0.3s ease);
          }
        }
        .read-more {
          top: 40px;
          right: 40px;
          opacity: 1;
          transition-delay: 200ms;
          @include media-breakpoint-down(sm) {
            right: 20px;
            top: 20px;
          }
        }
      }
    }
    .image-box {
      position: relative;
      .image {
        position: relative;
        overflow: hidden;
        margin-bottom: 0px;
        img {
          position: relative;
          width: 100%;
          object-fit: cover;
          @include transition(all 0.3s ease);
        }
      }
      .read-more {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 65px;
        height: 65px;
        background: var(--theme-color1);
        color: #ffffff;
        line-height: 65px;
        font-size: 30px;
        opacity: 0;
        text-align: center;
        @include transition(all 0.3s ease);
        z-index: 2;
        @include media-breakpoint-down(sm) {
          height: 35px;
          width: 35px;
          line-height: 35px;
          font-size: 18px;
        }
        i {
          position: relative;
          @include transform(rotate(-45deg));
          font-weight: 600;
        }
      }
    }
    .info-box {
      position: absolute;
      left: 40px;
      right: 40px;
      bottom: 10px;
      padding: 33px 30px 25px;
      z-index: 3;
      background-color: #ffffff;
      opacity: 0;
      visibility: hidden;
      @include transition(all 0.2s linear);
      @include media-breakpoint-down(sm) {
        left: 10px;
        right: 10px;
      }
      .title {
        margin-bottom: 10px;
        margin-top: -0;
        a {
          &:hover {
            color: var(--theme-color1);
          }
        }
      }
      .excerpt {}
    }
  }
}