.tm-give-forms-horizontal1 {
  margin-bottom: 15px;
  padding-bottom: 15px;
  @include transition(all .3s);
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .form-inner {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid rgba(205, 205, 205, 0.5);
    @include box-shadow( 0px 0px 50px rgba(5, 5, 5, 0.1) );
    @include transition(all .3s);
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    .form-thumbnail {
      flex: 0 0 300px;
      @include media-breakpoint-down(md) {
      }
    }
    .form-content {
      padding: 30px;
      flex: 1 0 0;
      .form-title {
        margin-top: 0;
        margin-bottom: 10px;
      }
      .form-meta {
        font-size: 0.95rem;
        color: $gray-silver-text-color;
        margin: 0 0 30px;
        font-weight: normal;
        .each-meta {
          a {
            color: #999;
            font-weight: normal;
          }
          display: inline-block;
          margin-right: 10px;
          i {
            margin-right: 3px;
          }
        }
      }
      .campaigns-btn {
        a {
          margin-top: 15px;
        }
      }
      .btn {
        margin-right: 5px;
        margin-bottom: 5px;
      }
      > :last-child {
        margin-bottom: 0;
      }
      .give-goal-progress {
        font-size: 15px;
        color: #555;
        margin-bottom: 10px;
        span {
          font-size: 22px;
          color: var(--theme-color1);
          &:last-child {
            font-size: 18px;
            color: var(--theme-color2);
          }
          &:first-child {
            color: var(--theme-color1);
          }
        }
      }
      .give-goal-progress-bar {
        $progress-height: 18px;
        margin-bottom: 20px;
        > .label, > .value {
          display: none;
        }
        .tm-sc-progress-bar {
          width: 100%;
          border-radius: 18px;
          overflow: hidden;
          .progress-holder {
            background-color: #eee;
            height: $progress-height;
            width: 100%;
            border-radius: 0;
            position: relative;
            .progress-content {
              background-color: var(--theme-color2);
              height: $progress-height;
              float: left;
              border-radius: 0;
              margin-right: 5px;
              &:after {
                display: none;
              }
            }
            .value {
              position: absolute;
              top: -37px;
              color: #fff;
              font-size: 10px;
              background-color: var(--theme-color2);
              line-height: 1;
              padding: 10px 7px;
            }
          }
        }
      }
    }
  }
  &:hover {
    .form-inner {
      @include box-shadow( 0 15px 40px 5px rgba(50, 50, 50, 0.25) );
    }
  }
}
