@import "../../bootstrap-loader";

.counter-block-six {
  position: relative;
  margin-bottom: 30px;
  .inner {
    position: relative;
    border-radius: 10px;
    text-align: center;
    padding: 30px 30px;
    height: 100%;
    @include transition(all 300ms ease);
    &::before {
      @include overlay;
      background: var(--theme-color2);
      opacity: 0.05;
      border-radius: 10px;
      content: "";
      @include transition(all 300ms ease);
      z-index: -1;
    }
    &:hover {
      &::before {
        opacity: 1;
      }
      .counter-icon {
        @include transform(scale(-1) rotate(180deg));
      }
      .counter,
      .counter-icon,
      .title {
        color: #ffffff;
      }
    }
  }
  .counter-icon {
    display: inline-block;
    font-size: 60px;
    line-height: 1em;
    @include transition(all 300ms ease);
    margin-bottom: 18px;
    color: var(--headings-color);
  }
  .count-box {
    .counter {
      font-size: 48px;
      margin-top: 0;
    }
  }
}
