@import "../../bootstrap-loader";

//Counter Block Style01

.counter-item {
  position: relative;
  margin-bottom: 50px;
  @include transition(all 300ms ease);
  &:hover {
    .counter-icon {
      background-color: #ffffff;
      color: var(--theme-color1);
      border-radius: 50%;
    }
  }
  .text {
    padding-left: 100px;
    position: relative;
  }
  .counter-icon {
    @include absolute;
    top: 5px;
    @include flex-center;
    height: 80px;
    width: 80px;
    background-color: var(--theme-color1);
    color: #ffffff;
    font-size: 48px;
    border-radius: 5px;
    @include transition(all 300ms ease);
  }
  .counter {
    font-size: 48px;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
  }

  .title {
    font-weight: 400;
    color: var(--headings-color);
  }
}
