.tm-sc-features .icon {
  display: inline-block;
}
.tm-sc-features .icon,
.tm-sc-features .features-title,
.tm-sc-features .features-details {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.working-block-style6 {
  position: relative;
}
.working-block-style6 .inner-box {
  position: relative;
  margin: 0 auto;
}
.working-block-style6 .inner-box .content-box {
  text-align: center;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 60px 20px 30px;
  margin-top: 40px;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .working-block-style6 .inner-box .content-box {
    transition: none;
  }
}
.working-block-style6 .inner-box .content-box:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07);
}
.working-block-style6 .inner-box .content-box:hover .icon-box i::before {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.working-block-style6 .inner-box .content-box:hover .count {
  background-color: var(--theme-color2);
  color: #fff;
}
.working-block-style6 .inner-box .content-box .icon-box i {
  font-size: 60px;
  display: block;
  color: var(--theme-color1);
  line-height: 60px;
  margin-bottom: 25px;
  display: inline-block;
}
.working-block-style6 .inner-box .content-box .icon-box i::before {
  transition: all 300ms ease;
  display: inline-block;
}
@media (prefers-reduced-motion: reduce) {
  .working-block-style6 .inner-box .content-box .icon-box i::before {
    transition: none;
  }
}
.working-block-style6 .inner-box .content-box .working-title {
  margin-top: 0;
  color: var(--theme-color2);
  margin-bottom: 8px;
}
.working-block-style6 .inner-box .content-box .working-details {
  margin-bottom: 0;
}
.working-block-style6 .inner-box .content-box .count {
  width: 60px;
  position: absolute;
  top: -30px;
  right: 50%;
  transform: translateX(50%);
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: var(--theme-light-background);
  color: var(--theme-color2);
  border-radius: 50px;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .working-block-style6 .inner-box .content-box .count {
    transition: none;
  }
}