.tm-sc-blog .blog-item-current-style7 {
  position: relative;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .tm-sc-blog .blog-item-current-style7 {
    transition: none;
  }
}
.tm-sc-blog .blog-item-current-style7:hover .entry-content {
  border-color: var(--theme-color1);
}
.tm-sc-blog .blog-item-current-style7:hover .entry-header .thumb::after {
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 400ms linear;
}
@media (prefers-reduced-motion: reduce) {
  .tm-sc-blog .blog-item-current-style7:hover .entry-header .thumb::after {
    transition: none;
  }
}
.tm-sc-blog .blog-item-current-style7:hover .entry-header .thumb img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.tm-sc-blog .blog-item-current-style7 .entry-header {
  position: relative;
}
.tm-sc-blog .blog-item-current-style7 .entry-header .thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}
.tm-sc-blog .blog-item-current-style7 .entry-header .thumb img {
  display: block;
  width: 100%;
  transition: all 400ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .tm-sc-blog .blog-item-current-style7 .entry-header .thumb img {
    transition: none;
  }
}
.tm-sc-blog .blog-item-current-style7 .entry-header .thumb::after {
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  right: 51%;
  top: 0;
  opacity: 1;
  pointer-events: none;
  transition: all 400ms linear;
}
@media (prefers-reduced-motion: reduce) {
  .tm-sc-blog .blog-item-current-style7 .entry-header .thumb::after {
    transition: none;
  }
}
.tm-sc-blog .blog-item-current-style7 .entry-content {
  position: relative;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  transition: all 300ms ease;
}
@media (prefers-reduced-motion: reduce) {
  .tm-sc-blog .blog-item-current-style7 .entry-content {
    transition: none;
  }
}
.tm-sc-blog .blog-item-current-style7 .entry-content .entry-title {
  margin-bottom: 12px;
}
.tm-sc-blog .blog-item-current-style7 .entry-content .entry-title:hover {
  color: var(--theme-color2);
}
.tm-sc-blog .blog-item-current-style7 .entry-content .entry-meta {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}
.tm-sc-blog .blog-item-current-style7 .entry-content .entry-meta i {
  color: var(--theme-color1);
}
.tm-sc-blog .blog-item-current-style7 .entry-content .mascot-post-excerpt {
  margin-bottom: 30px;
}