.blog-item-current-style2 {
  position: relative;
  margin-bottom: 30px;
}
.blog-item-current-style2:hover .entry-header .thumb::after {
  right: 0;
  left: 0;
  opacity: 0;
  transition: all 400ms linear;
}
@media (prefers-reduced-motion: reduce) {
  .blog-item-current-style2:hover .entry-header .thumb::after {
    transition: none;
  }
}
.blog-item-current-style2:hover .entry-header .thumb img {
  -webkit-transform: scale(1.1) !important;
  -moz-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  transform: scale(1.1) !important;
}
.blog-item-current-style2 .entry-header {
  padding: 0 30px;
}
.blog-item-current-style2 .entry-header .thumb {
  overflow: hidden;
  border-radius: 10px;
}
.blog-item-current-style2 .entry-header .thumb::after {
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;
  content: "";
  right: 50%;
  position: absolute;
  left: 51%;
  top: 0;
  opacity: 1;
  pointer-events: none;
  transition: all 400ms linear;
}
@media (prefers-reduced-motion: reduce) {
  .blog-item-current-style2 .entry-header .thumb::after {
    transition: none;
  }
}
.blog-item-current-style2 .entry-header .thumb img {
  width: 100%;
  transition: all 0.3s ease;
}
.blog-item-current-style2 .entry-content {
  background-color: #f2f3f5;
  padding: 145px 30px 30px;
  margin-top: -122px;
  border-radius: 10px;
}
.blog-item-current-style2 .entry-content .entry-title {
  color: var(--theme-color2);
}
.blog-item-current-style2 .entry-content .entry-title:hover a {
  color: var(--theme-color1);
}
.blog-item-current-style2 .entry-content .entry-meta i {
  color: var(--theme-color1);
}
.blog-item-current-style2 .entry-content .entry-meta .categories-links a:last-child {
  display: none;
}
.blog-item-current-style2 .entry-content .btn-plain-text-with-arrow-right {
  border-bottom: none !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
}