.counter-item {
  position: relative;
  z-index: 1;
  padding: 65px 50px;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(76, 76, 76, 0.1);
  box-shadow: 0px 10px 60px 0px rgba(76, 76, 76, 0.1);
}
.counter-item:hover:after {
  visibility: visible;
  opacity: 1;
}
.counter-item:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #e9e056;
  -webkit-filter: blur(57.5px);
  filter: blur(57.5px);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.counter-item .counter-icon {
  font-size: 64px;
  color: var(--theme-color1);
  margin-bottom: 15px;
  line-height: 1;
}
.counter-item .text .counter {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 56px;
  line-height: 60px;
}

.counter-block-two {
  padding: 60px 45px 53px;
  border-radius: 7px;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
  position: relative;
}
.counter-block-two:hover {
  background-color: #fff;
}
.counter-block-two:hover:after {
  visibility: visible;
  opacity: 1;
}
.counter-block-two:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #e9e056;
  -webkit-filter: blur(57.5px);
  filter: blur(57.5px);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.counter-block-two .counter-icon {
  font-size: 64px;
  color: var(--theme-color1);
  margin-bottom: 15px;
  line-height: 1;
}
.counter-block-two .text .counter {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 56px;
  line-height: 60px;
}

.counter-block-three {
  padding: 50px 30px 40px;
  border-radius: 7px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 10px 60px 0px rgba(89, 86, 233, 0.2);
  transition: all 0.3s;
  z-index: 1;
  position: relative;
}
.counter-block-three:hover {
  border-color: var(--theme-color1);
}
.counter-block-three .counter-icon {
  font-size: 64px;
  color: var(--theme-color1);
  margin-bottom: 15px;
  line-height: 1;
}
.counter-block-three .text .counter {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 56px;
  line-height: 60px;
}