.tm-sc-projects .cat-list {
  list-style: none;
  margin: 0;
}
.tm-sc-projects .cat-list li {
  display: inline;
  color: #aaa;
  margin-left: 7px;
  font-size: 13px;
}
.tm-sc-projects .cat-list li a {
  color: #aaa;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .tm-sc-projects .cat-list li a {
    transition: none;
  }
}
.tm-sc-projects .cat-list li:last-child span {
  display: none;
}

.projects-current-theme6 {
  position: relative;
  margin-bottom: 30px;
}
.projects-current-theme6 .inner-box {
  position: relative;
}
.projects-current-theme6 .inner-box:hover .info-box {
  bottom: 40px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
@media (max-width: 575.98px) {
  .projects-current-theme6 .inner-box:hover .info-box {
    bottom: 10px;
  }
}
.projects-current-theme6 .inner-box:hover .image-box .image img {
  transform: scale(1.1);
  transition: all 300ms ease;
}
.projects-current-theme6 .inner-box:hover .image-box .read-more {
  top: 40px;
  left: 40px;
  opacity: 1;
  transition-delay: 200ms;
}
@media (max-width: 575.98px) {
  .projects-current-theme6 .inner-box:hover .image-box .read-more {
    left: 20px;
    top: 20px;
  }
}
.projects-current-theme6 .inner-box .image-box {
  position: relative;
}
.projects-current-theme6 .inner-box .image-box .image {
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
}
.projects-current-theme6 .inner-box .image-box .image img {
  position: relative;
  width: 100%;
  min-height: 320px;
  object-fit: cover;
  transition: all 0.3s ease;
}
.projects-current-theme6 .inner-box .image-box .read-more {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 65px;
  height: 65px;
  background: var(--theme-color1);
  color: #ffffff;
  line-height: 65px;
  font-size: 30px;
  opacity: 0;
  text-align: center;
  transition: all 300ms ease;
  z-index: 2;
}
@media (max-width: 575.98px) {
  .projects-current-theme6 .inner-box .image-box .read-more {
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 18px;
  }
}
.projects-current-theme6 .inner-box .image-box .read-more i {
  position: relative;
  transform: rotate(45deg);
  font-weight: 600;
}
.projects-current-theme6 .inner-box .info-box {
  position: absolute;
  right: 40px;
  left: 40px;
  bottom: 10px;
  padding: 33px 30px 25px;
  z-index: 3;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
@media (max-width: 575.98px) {
  .projects-current-theme6 .inner-box .info-box {
    right: 10px;
    left: 10px;
  }
}
.projects-current-theme6 .inner-box .info-box .title {
  margin-bottom: 10px;
  margin-top: 0;
}
.projects-current-theme6 .inner-box .info-box .title a:hover {
  color: var(--theme-color1);
}