.tm-sc-projects .cat-list {
  list-style: none;
  margin: 0;
}
.tm-sc-projects .cat-list li {
  display: inline;
  color: #aaa;
  margin-right: 7px;
  font-size: 13px;
}
.tm-sc-projects .cat-list li a {
  color: #aaa;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .tm-sc-projects .cat-list li a {
    transition: none;
  }
}
.tm-sc-projects .cat-list li:last-child span {
  display: none;
}

.tm-sc-projects .projects-current-theme11 {
  margin-bottom: 30px;
}
.tm-sc-projects .projects-current-theme11 .inner-box {
  position: relative;
  text-align: center;
}
.tm-sc-projects .projects-current-theme11 .inner-box:hover .info-box {
  background-color: var(--theme-color1);
}
.tm-sc-projects .projects-current-theme11 .inner-box:hover .info-box .title {
  color: #ffffff;
}
.tm-sc-projects .projects-current-theme11 .inner-box:hover .image {
  border-radius: 10px;
}
.tm-sc-projects .projects-current-theme11 .inner-box:hover .image img {
  transform: scale(1.1);
}
.tm-sc-projects .projects-current-theme11 .inner-box .image {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 0;
  margin-bottom: -38px;
}
.tm-sc-projects .projects-current-theme11 .inner-box .image img {
  transition: all 0.3s ease;
}
.tm-sc-projects .projects-current-theme11 .inner-box .info-box {
  position: relative;
  display: inline-flex;
  z-index: 99;
  background-color: #f2f3f5;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
}
.tm-sc-projects .projects-current-theme11 .inner-box .info-box .title {
  color: var(--theme-color2);
  margin-bottom: 0;
  margin-top: 0;
}
.tm-sc-projects .projects-current-theme11 .inner-box .info-box .title a:hover {
  color: #ffffff;
}