.tm-sc-projects .cat-list {
  list-style: none;
  margin: 0;
}
.tm-sc-projects .cat-list li {
  display: inline;
  color: #aaa;
  margin-right: 7px;
  font-size: 13px;
}
.tm-sc-projects .cat-list li a {
  color: #aaa;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .tm-sc-projects .cat-list li a {
    transition: none;
  }
}
.tm-sc-projects .cat-list li:last-child span {
  display: none;
}